Curupira.AppClient/Config/folders-creator-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://curupira.org/plugin/folders-creator-plugin"
           xmlns="http://curupira.org/plugin/folders-creator-plugin"
           elementFormDefault="qualified">

  <xs:element name="plugin">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="directories">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="add" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>